<h4> <pre><br><br/>	<%= @contenue %>

<iframe width="560" height="315" src="//www.youtube.com/embed/xjy13POJMzc" frameborder="0" allowfullscreen></iframe>

<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/71631296&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

</pre></h4>
<%= csrf_meta_tag %>