// Place all the styles related to the commands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
	margin-left: 300px;
   font-family: Helvetica, Geneva, Arial, sans-serif;

   font-size: small;

   font-color: #fff;

   background-color: #nccf;
}
field{
	margin-left: 300px;
   font-family: Helvetica, Geneva, Arial, sans-serif;

   font-size: small;

   font-color: #fff;

   background-color: #nccf;
}